<h2>Add New Book</h2>
<form (ngSubmit)="addBook()">
  <label for="title">Title:</label>
  <input
    type="text"
    id="title"
    [(ngModel)]="book.title"
    name="title"
    required
  />

  <label for="author">Author:</label>
  <input
    type="text"
    id="author"
    [(ngModel)]="book.author"
    name="author"
    required
  />

  <label for="yearPublished">Year Published:</label>
  <input
    type="number"
    id="yearPublished"
    [(ngModel)]="book.yearPublished"
    name="yearPublished"
    required
  />

  <label for="price">Price:</label>
  <input
    type="number"
    id="price"
    [(ngModel)]="book.price"
    name="price"
    required
  />

  <button type="submit">Add Book</button>
</form>
